.project-wrapper section.project-type .project-type-copy {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 400px;
}

.project-wrapper section.project-hero {
  padding: 0;
  width: 100%;
  height: 700px;
}

.project-wrapper section.project-hero .project-hero-img {
  width: 100%;
  height: 100%;
}

.project-wrapper section.project-hero .project-hero-img img {
  width: 100%;
  padding: 0;
  height: 100%;
  object-fit: cover;
  padding: 0;
}

.project-wrapper section.project-overview .project-overview-copy {
  width: 100%;
  height: 300px;
  display: flex;
  padding: 0;
}

.project-wrapper section.project-overview .project-overview-copy > div {
  flex: 1;
}

.project-wrapper section.project-img-full {
  width: 100%;
  height: 100%;
  padding-bottom: 2em;
  padding-top: 2em;
}

.project-wrapper section.project-img-full .project-img-full-wrapper {
  width: 100%;
  height: 100%;
}

.project-wrapper section.project-img-full .project-img-full-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-wrapper section.project-info {
  display: flex;
  gap: 2em;
  padding-top: 0;
}

.project-wrapper section.project-info > div {
  flex: 1;
}
.videoPreview_YoungKink {
  width: 100%;
  height: 100%; /* или любое фиксированное соотношение на десктопе */
  object-fit: cover; /* важное: кадрирование видео */
  object-position: center; /* центр кадра */
}
@media (max-width: 768px) {
  .videoPreview_YoungKink {
    width: 100%;
    height: 100%; /* делаем вертикальное видео */
    object-fit: cover;
    object-position: center top; /* центрируем верхнюю часть, можно поменять */
    border-radius: 0; /* если нужно убрать скругления */
  }
}
.project-wrapper section.project-info .project-info-img {
  height: 700px;
}

.project-wrapper section.project-info .project-info-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-overview-copy-h1 h1 a {
  color: #fff;
}

section.discover {
  padding-top: 0;
}
@media (max-width: 900px) {
  .project-wrapper section.project-type .project-type-copy {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .project-wrapper section.project-overview .project-overview-copy {
    flex-direction: column;
  }

  .project-wrapper
    section.project-overview
    .project-overview-copy
    .project-overview-ws {
    display: none;
  }

  .project-wrapper section.project-overview .project-overview-copy {
    height: max-content;
  }

  .project-wrapper
    section.project-overview
    .project-overview-copy
    .project-overview-copy-h1 {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  .project-wrapper section.project-info {
    flex-direction: column;
  }
}

.project-img-both-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9vw; /* расстояние между картинками зависит от ширины экрана */
}
.project-img-both-wrapper img {
  flex: 1 45%; /* занимают примерно половину родителя */
  max-width: 45%;
  height: auto;
}
@media (max-width: 48rem) {
  /* ~768px, но в rem */
  .project-img-both-wrapper {
    gap: 4.5rem;
    width: 100%;
    flex-direction: column;
  }
  .project-img-both-wrapper img {
    max-width: 100%;
    flex: none;
  }
}

.project-slider {
  width: 100%;
  /* padding: 2rem 0; */
}

.project-slider img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* стрелки Swiper — ПК/ноут */
.swiper-button-next,
.swiper-button-prev {
  color: black !important;
  width: 3rem;
  height: 3rem;
  z-index: 10;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem !important;
  font-weight: bold;
  line-height: 3rem;
}

/* .swiper-button-next::after {
  content: "→";
}

.swiper-button-prev::after {
  content: "←";
} */

/* скрываем стрелки на мобильных */
@media (max-width: 47.9375rem) {
  /* 767px */
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

.project-wrapper section.light-section {
  background: #fff;
  color: #000;
}
.project-wrapper section.light-section * {
  color: #000;
}
